@import url("C:\Users\48603\Documents\cetusfood-front-end\src\color.css");
.NewRestForm p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.NewRestForm form{
    width: 50%;
}
.NewRestForm input{
    background-color: var(--color_20);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: var(--black);
}.NewRestForm input:focus{
    background-color: var(--color_24);
    color: var(--color_20);
}
.NewRestForm button, .NewRestForm a{
    background-color: var(--color_20);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: var(--black);
    margin-right: 5px;
}.NewRestForm button:active, .NewRestForm a:active{
    background-color: var(--color_24);
    color: var(--color_20);
}