@import url("C:\Users\48603\Documents\cetusfood-front-end\src\color.css");
.ListElForm p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.ListElForm form{
    width: 50%;
}
.ListElForm input{
    background-color: var(--color_20);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: var(--black);
}.ListElForm input:focus{
    background-color: var(--color_24);
    color: var(--color_20);
}
.ListElForm button, .ListElForm a{
    background-color: var(--color_20);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: var(--black);
    margin-right: 5px;
}.ListElForm button:active, .ListElForm a:active{
    background-color: var(--color_24);
    color: var(--color_20);
}