.ListElForm p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.ListElForm form{
    width: 50%;
}
.ListElForm input{
    background-color: rgb(231, 226, 216);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: black;
}.ListElForm input:focus{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(231, 226, 216);
}
.ListElForm button, .ListElForm a{
    background-color: rgb(231, 226, 216);
    font-size: .9em;
    padding: 5px 15px;
    text-decoration: none;
    font-family: inherit;
    color: black;
    margin-right: 5px;
}.ListElForm button:active, .ListElForm a:active{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(231, 226, 216);
}