.RestList .main-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}
.RestList .main-table td, .RestList .main-table th{
    padding: 6px 15px;
    text-align: left;
    font-size: .6em;
    font-weight: 300;
}
.RestList .main-table tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.RestList .main-table tr:not(tr:first-of-type) td{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.RestList .main-table th{
    text-transform: capitalize;
    font-size: 0.7em;
    font-weight: 300;
    padding-bottom: 10px;
}

.RestListEl.checked{
    background-color: rgba(0, 0, 0, 0.08);
}
.RestListEl .edit-btn{
    color: rgb(0, 140, 255);
    font-size: 1em;
    border-radius: 2px;
}.RestListEl .edit-btn:hover{
    background-color: rgb(0, 140, 255);
    color: white;
}
.RestListEl .del-btn{
    color: rgb(255, 0, 0);
    font-size: 1em;
    border-radius: 2px;
}.RestListEl .del-btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
.RestListEl a{
    color: rgb(0, 140, 255);
}
.RestListEl button{
    background-color: rgba(255, 255, 255, 0.35);
}