:root{
    --backB: aliceblue;
    --gray: rgb(64, 68, 73);
    --hrB: lightblue;
    --shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
}
.Stepper{
    .step{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .line{
            width: 51%;
            height: 3px;
            background: var(--gray);
            margin: auto;
            top: 45px;
            
            position: relative;
            
            }
        .step-cont{
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: top;
            margin: 0px;
            width: 260px;
            height: 145px;
            margin:0 10px 10px;

            &:hover {
                .circle{
                    transform: scale(1.1);
                    transition: 0.1s ease-in;
                    background-color: var(--gray);
                    color: white;
                }
                .desc, .heading{
                    transform: scale(1.05);
                }
            }

            .circle{
                z-index: 1;
                width: 48px;
                height: 48px;
                line-height: 44px;
                text-align: center;
                border: 2px solid var(--gray);
                border-radius: 50%;
                font-size: 18px;
                background-color: var(--backB);
                margin-bottom: 0;
            }
            
            .heading{
                margin-top: 5px;
                text-align: center;
                .desc{
                   
                    margin: 0;
                }
            }
        }
    }
} 

    
    /* .circle:hover, .circlee:hover, .circleee:hover{
        
    } */
    // .Stepper .step .step-cont1:hover .circle1, .step-cont2:hover .circle2, .step-cont3:hover .circle3{
    //     transform: scale(1.1);
    //     transition: 0.1s ease-in;
    //     background-color: var(--gray);
    //     color: white;
    // }
    // .step-cont1:hover .desc1, .step-cont2:hover .desc2, .step-cont3:hover .desc3{
    //     transform: scale(1.05);

    // }
    // .step-cont1:hover .heading1, .step-cont2:hover .heading2, .step-cont3:hover .heading3{
    //     transform: scale(1.05);
    // }
    
    
    
    
    
    
    
    /* .jeden:hover, .dwa:hover, .trzy:hover{
        font-size: 20px;
    } */
    /* .one, .two, .three:hover {
        display: flex;
        
        justify-content: center;
    } */
    
    .step-cont:last-child{
        position: relative;
        bottom: 10px
    }
    @media (max-width: 420px){
        .Stepper{
            display: flex;
            flex-direction: column;
            max-height: 500px;
            .line{
                width: 500px;
                // // height: 320px;
                 top: 200px;
                margin: 0;
                left: -65px;
                
                transform: rotate(90deg);
                position: relative;
                float: left;
            }
            .step{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: left;
                align-items: center;
            
            
            .step-cont{
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                flex-wrap: wrap;
                width: 100vw;
                &:last-child{
                    position: static;
                    bottom: 0;
                }
                .heading{
                    text-align: center;
                    margin: auto;
                    max-width: 250px;
                }
            }
            }
            
        }
    }
    
    