@import url("../../../color.css");
.Stepper .step{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}
.circle{
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border: 2px solid var(--color_12);
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--color_12);
    margin-bottom: 0;
    /* position: absolute;
    top: 200%;
    left: 25%; */
    }
    
    .circlee{
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border: 2px solid var(--color_12);
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--color_12);
    margin-bottom: 0;
    /* position: absolute;
    top: 5%;
    left: 50%; */
    }
    
    .circleee{
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border: 2px solid var(--color_12);
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--color_12);
    margin-bottom: 0;
    
    /* position: absolute;
    top: 5%;
    left: 75%; */
    
    }
    
    /* .circle:hover, .circlee:hover, .circleee:hover{
        
    } */
    .one:hover .circle, .two:hover .circlee, .three:hover .circleee{
        transform: scale(1.1);
        transition: 0.1s ease-in;
        background-color: var(--color_12);
        color: var(--white);
    }
    .one:hover .jeden, .two:hover .dwa, .three:hover .trzy{
        transform: scale(1.05);

    }
    .circle, .circlee, .circleee{
        margin: 20px;
        color: var(--color_12);
        background-color: var(--aliceblue);
    }
    .line{
    width: 51%;
    height: 3px;
    background: var(--color_12);
    margin: auto;
    top: 45px;
    
    position: relative;
    
    }
    
    
    
    
    
    /* .jeden:hover, .dwa:hover, .trzy:hover{
        font-size: 20px;
    } */
    /* .one, .two, .three:hover {
        display: flex;
        
        justify-content: center;
    } */
    .one , .two , .three{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: top;
        margin: 0;
        width: 260px;
        height: 145px;

    }
    .three{
        position: relative;
        bottom: 10px
    }
    
    