@import url("C:\Users\48603\Documents\cetusfood-front-end\src\root.css");
.AdminPanel{
    position: var(--relative);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: rgb(255, 247, 241);
}
.AdminPanel nav.navigation{
    width: 250px;
    background-color: #292c2f;
    color: var(--white);
    padding: 10px var(--zero);
    position: sticky;
    top: var(--zero);
}
.AdminPanel nav.navigation a{
    outline: var(--none);
    border: var(--none);
    background-color: transparent;
    color: var(--white);
    width: 95%;
    display: var(--block);
    margin: 5px auto;
    padding: 5px var(--zero);
    font-size: 18px;
    text-align: var(--center);
    text-decoration: var(--none);
}.AdminPanel nav.navigation a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}.AdminPanel nav.navigation a:active{
    background-color: rgb(255, 247, 241);
    color: #292c2f;
}.AdminPanel nav.navigation a.current{
    background-color: rgb(255, 247, 241);
    color: #292c2f;
}
.AdminPanel nav.navigation .title{
    font-size: 23px;
    color: var(--white);
    width: 80%;
    display: var(--block);
    margin: 5px auto 10px auto;
    border-bottom: 1px solid var(--white);
    padding: 5px var(--zero);
    font-weight: 100;
    white-space: nowrap;
    text-align: var(--center);
}
.AdminPanel .content{
    padding: 0 70px;
}
.AdminPanel h3.title{
    font-size: 30px;
    font-weight: var(--a300);
    margin: 10px 0 20px var(--zero);
}

.AdminPanelStart{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 60px 20px;
    gap: 70px;
}
.AdminPanelStart a{
    height: 300px;
    display: var(--flex);
    flex-direction: var(--column);
    justify-content: var(--center);
    align-items: var(--center);
    text-decoration: var(--none);
    border-radius: 3px;
    color: #292c2f;
    border: 1px solid #292c2f0c;
}.AdminPanelStart a:hover{
    background-color: #292c2f2a;
    border: 1px solid #292c2f2d;
}
.AdminPanelStart a i{
    font-size: 150px;
}