.MenuGridPnl {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 30px;
  padding: 10px 40px;
  font-size: 30px;
  .MenuEl {
    height: 240px;
    color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
      "name logo"
      "name controls";
    padding: 0;
    position: relative;
    &.active{
        .product-name{
            background-color: rgb(226, 147, 0);
            color: white;
        }
        .controls{
            background-image: linear-gradient(to right, rgb(148, 96, 0) 0%, rgb(196, 127, 0) 20%);
            color: white;
            button{
                color: white;
            }
        }
        .price{
            background-color: rgb(190, 124, 0);
            color: white;
        }
        .product-logo{
            filter: grayscale(0);
        }
    }
    .product-name {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(206, 206, 206);
      color: black;
      span {
        transform: rotate(270deg);
        font-size: 0.6em;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    .product-logo {
      background-size: cover;
      background-repeat: no-repeat;
      background-color: transparent;
      filter: grayscale(.5);
    }
    .price{
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px 30px;
        background-color: rgb(206, 206, 206);
        color: black;
        font-size: .8em;
        font-weight: 100;
        font-style: italic;
    }
    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-image: linear-gradient(to right, rgb(175, 175, 175) 0%, rgb(206, 206, 206) 20%);
      color: black;
      font-size: 0.7em;
      button {
        font-size: 1.2em;
        padding: 0;
        height: 70%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: black;
        &:hover{
            background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}
