@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url("C:\Users\48603\Documents\cetusfood-front-end\src\root.css");
.NavBar{
  background: rgb(46, 49, 53);
  font-family: "Montserrat", sans-serif;
  position: var(--relative);
  display: var(--flex);
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 90px;
  color: var(--white);
  align-content: var(--center);
}
@media (max-width: 920px){
  .NavBar{
    display: var(--flex);
    flex-direction: var(--column);
    width: var(--a100procent);
  }
  .NavBar .logo{
    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--center);
    position: var(--relative);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }
}
@media (max-width: 420px){
  .NavBar{
    width: 100vw;
  }
  .NavBar .logo img{
    max-width: 80px;
    max-height: 80px;
  }
  .logo  h3{
    font-size: 20px;
  }
  #trigger, #burger, #burger:before, #burger:after{
    max-width: 30px;
    position: var(--relative);
    left: 20px;
  }
}
.logo  h3{
	color:  var(--white);
	font: var(--normal) 2.5em 'Cookie', cursive;
  /* font-size: 2.5em;
  font-family: 'Prompt', sans-serif; */
	margin: var(--zero);
}
 
.logo  h3 span{
	color:  #5383d3;
}

/* burger menu */
/* BURGER MENU */
#trigger, #burger, #burger:before, #burger:after {
  display: var(--none);
  position: absolute;
  top: 25px;
  left: 25px;
  background-color:   #5383d3;;
  width: 50px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1;
}
#trigger {
  height: 25px;
  background: var(--none);
}
#burger:before {
  content: " ";
  top: 13px;
  left: var(--zero);
}
#burger:after {
  content: " ";
  top: 25px;
  left: var(--zero);
}
#menu-toggle:checked + #trigger + #burger {
  transition: transform .2s ease;
  transform: rotate(45deg);
  top: 35px;
  right: 20px;
  height: 7px;
}

#menu-toggle:checked + #trigger + #burger:before {
  transform: rotate(-45deg);
  transition: transform 2s ease;
  display: var(--none);
}
#menu-toggle:checked + #trigger + #burger:after {
  transform: rotate(-90deg);
  transition: transform .2s ease;
  height: 7px;
  top: var(--zero);
}
#menu {
  position: absolute;
  margin: var(--zero); padding: var(--zero);
  width: 110px;
  height: 110px;
  background-color: var(--white);
  border-bottom-right-radius: var(--a100procent);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  animation: not-checked-anim .2s both;
  transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ .links > a {
  display: var(--block);
  animation: expand-bar .2s ease-in-out;
}
.NavBar [type="checkbox"]:not(:checked), .NavBar [type="checkbox"]:checked {
  display: var(--none);
}
@keyframes expand-bar{
  0%{
    opacity: var(--zero);
    font-size: var(--zero);
  }
  50%{
    opacity: var(--zero);
    font-size: 10px;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 610px){
  .NavBar{
    display: var(--flex);
    flex-direction: var(--column);
    width: var(--a100procent);
  }
  .NavBar .links{
    justify-content: var(--center);
    align-items: var(--center);
    flex-direction: var(--column);
    display: var(--none);
  }
  .NavBar .links a{
    display: var(--none);
  }
  #trigger, #burger, #burger:before, #burger:after {
    display: var(--block);
  }
  .NavBar .logo{
    left: 65%;
  }
}

.NavBar .links{
  display: var(--flex);
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  font-size: 20px;
  position: var(--relative);
  bottom: 2rem;
  height: var(--a100procent);
}
.NavBar .links a.active{
  color: rgb(0, 174, 255);
}.NavBar .links a.active::before{
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  animation: 0.5s dot ease-in-out;
  animation-direction: alternate;
  background-color: rgb(0, 174, 255);
}
.NavBar .logo{
  align-items: var(--center);
  display: var(--flex);
  flex-direction: row;
}
.NavBar .logo h1{
  font-family: 'Prompt', sans-serif;
  height: var(--a100procent);
  color: deepskyblue;
  font-size: 40px;
}
.NavBar .logo img{
  width: 100px;
  height: 100px;
}
.NavBar .links a{
  color: var(--white);
  position: var(--relative);
  text-decoration: var(--none);
  padding: 0.5em;
}
.NavBar .links a:hover{
  color: rgb(0, 174, 255);
}
.NavBar .links a:hover::before{
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  animation: 0.5s dot ease-in-out;
  animation-direction: alternate;
  background-color: rgb(0, 174, 255);
}
@keyframes dot {
  0%{
    transform: translateY(-5px);
  }
  50%{
    opacity: .5;
  }
  100%{ 
    opacity: 1;
  }
}