@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.NavBar{
  background: #292c2f;
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.links a{
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: auto;
  margin: 1rem;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  color: #5383d3;
}

.links .dot {
  width: 6px;
  height: 6px;
  background: #5383d3;
  border-radius: 50%;
  opacity: 0;
  margin: 0 auto;
  margin-top: 1rem;
  opacity: 0;
}
.logo h1{
margin: 0;
color: lightblue;
}
@keyframes animaton {
  0% {opacity: 0;}
  50% {opacity: 0.5; transform: translateY(5px);}
  100% {opacity: 1; transform: translateY(-5px);}
} 
.links a:hover .dot{
  opacity: 1;
  animation: animaton 1s ease-in-out;
}
.logo h1 a{
color:#0059f3;
font-size: 24px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}
