@import url("../../assets/color.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Register .center {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-color: var(--gray);
  text-align: center;
}
.Register header {
  margin: 2% auto 10% auto;
  text-align: center;
}
.Register  header h3 {
  font-size: 250%;
  font-family: 'Prompt', serif;
  color: var(--hrB);
}
.Register header p {letter-spacing: 0.05em;}

.Register input[type="email"],.Register input[type="password"]{
  width: 250px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;
  
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
  
}
/* focus  */
.Register input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}
.Register button > div{
    height: 70%;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Register button > div div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    aspect-ratio: 1;
    animation: rotate 1s linear infinite;
}
.Register button > div div:nth-of-type(1){ border-top: 4px solid red; border-left: 4px solid red; width: 100%; animation-duration: .5s; }
.Register button > div div:nth-of-type(2){ border-left: 4px solid rgb(0, 140, 255); border-bottom: 4px solid rgb(0, 140, 255); width: 66%; animation-duration: .7s; }
.Register button > div div:nth-of-type(3){ border-bottom: 4px solid green; border-right: 4px solid green; width: 33%; animation-duration: 1s; }

@keyframes rotate {
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    100%{transform: translate(-50%, -50%) rotate(360deg);}
}
.Register button {
    display: inline-block;
    color: #252537;
    font-family: 'Prompt', sans-serif;
  
    width: 250px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
.Register button:hover {
    transform: translatey(3px);
    box-shadow: none;
    background-color: var(--hrB);
    color: white;
}

/* buttons hover Animation */
.Register button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
@media(max-width: 460px){
  .Register{
    padding: 0;
  }
  .Register .center {
    width: 100vw;
    margin: 0;
  }
}
