@import url("C:\Users\48603\Documents\cetusfood-front-end\src\root.css");
body {
	margin: var(--zero);
	padding: var(--zero);
}
.Footer {
	background-color: #292c2f;
	box-shadow: var(--zero) 1px 1px var(--zero) rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: var(--bold) 16px sans-serif;
	padding: 55px 50px;
}
 
.Footer .footer-left,
.Footer  .footer-center,
.Footer  .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.Footer  .footer-left{
	width: 40%;
}
 
.Footer  h3{
	color:  var(--white);
	font:  var(--normal) 36px 'Cookie', cursive;
	/* font-size: 36px;
  	font-family: 'Prompt', sans-serif; */

	margin: var(--zero);
}
 
.Footer  h3 span{
	color:  #5383d3;
}
 
 
.Footer  .footer-links{
	color:  var(--white);
	margin: var(--a20) var(--zero) 12px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}
 
.Footer .footer-links a{
	text-decoration: none;
	color:  inherit;
	list-style: none;
	width: 70px;
	height: 50px;
	text-align: var(--center);
}
.Footer .footer-links a:hover{
	font-size: 1.1em;
	color: #0080ff;
	display: inline-block;
	
}
 
.Footer  .footer-company-name{
	color:  #8f9296;
	font-size: var(--a14);
	font-weight: var(--normal);
	margin: var(--zero);
}
 
 
.Footer .footer-center{
	width: 35%;
}
 
.Footer  .footer-center i{
	background-color:  #33383b;
	color: var(--white);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: var(--center);
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.Footer  .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.Footer  .footer-center p{
	display: inline-block;
	color: var(--white);
	vertical-align: middle;
	margin: var(--zero);
}
 
.Footer  .footer-center p span{
	display:block;
	font-weight: var(--normal);
	font-size: var(--a14);
	line-height:2;
}
 
.Footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.Footer  .footer-right{
	width: 20%;
}
 
.Footer  .footer-company-about{
	line-height: var(--a20);
	color:  #92999f;
	font-size: 13px;
	font-weight: var(--normal);
	margin: var(--zero);
}
 
.Footer  .footer-company-about span{
	display: block;
	color:  var(--white);
	font-size:  var(--a14);
	font-weight: var(--bold);
	margin-bottom: var(--a20);
}
 
.Footer  .footer-icons{
	margin-top: 25px;
}
 
.Footer  .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: var(--a20);
	color: var(--white);
	text-align: var(--center);
	line-height: 35px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.Footer {
		font: var(--bold)  var(--a14) sans-serif;
 
	}
 
	.Footer  .footer-left,
	.Footer  .footer-center,
	.Footer  .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: var(--center);
	}
 
	.Footer  .footer-center i{
		margin-left: var(--zero);
	}
	.Footer .main {
		line-height: var(--normal);
		font-size: auto;
	}
	 
    .Footer  .footer-links{
	display: flex;
	flex-direction: column;
	align-items: var(--center);
	font-size: 2em;
   }
   .Footer  .footer-links a{
     text-align: var(--center);
	 width: 300px;
   }
   .Footer  h3{
	font-size: 45px;
   } 
}