@import url("C:\Users\48603\Documents\cetusfood-front-end\src\root.css");
.NotFound404{
    display: flex;
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
    gap: 10px;
    min-height: 70vh;
}
.NotFound404 *{
    margin: var(--zero);
    padding: var(--zero);
}
.NotFound404 h1{
    font-size: 50px;
    font-weight: var(--a300);
}
.NotFound404 p{
    font-size: 20px;
    font-weight: var(--a300);
}