* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.LogIn body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8ceed 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: .95;
}
.LogIn .center {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  text-align: center;
}
.LogIn header {
  margin: 2% auto 10% auto;
  text-align: center;
}
.LogIn header h3 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}
.LogIn header p {letter-spacing: 0.05em;}

.LogIn input[type="email"],.LogIn input[type="password"]{
  width: 250px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;
  
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
  
}
/* focus  */
.LogIn input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}
.LogIn button {
    display: inline-block;
    color: #252537;
  
    width: 250px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
.LogIn button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.LogIn button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
