.LogIn{
  min-height: 100vh;
  padding: 50px 300px;
  font-size: 30px;
}
.LogIn form{
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: .7em;
}
.LogIn form h3.title{
  color: rgb(0, 162, 255);
}
.LogIn form div{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogIn form input{
  padding: 5px 30px;
  font-size: .8em;
  border: 1px solid transparent;
  outline: none;
  color: black;
}
.LogIn form input:focus{
  border: 1px solid rgb(0, 162, 255);
}
.LogIn form button[type=submit]{
  width: 100%;
  padding: 10px;
  font-size: .7em;
}