.MealInputPnl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    height: 100%;
    font-size: 30px;
    padding: 50px 0;
    z-index: 100;
}
.MealInputPnl h4{
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 10px;
}
.MealInputPnl h4 span{
    text-transform: uppercase;
    color: rgb(255, 196, 0);
    font-weight: 600;
}
.MealInputPnl label a, .MealInputPnl label span{
    font-size: .7em;
}
.MealInputPnl label a{
    color: rgb(0, 153, 255);
    text-decoration: none;
}.MealInputPnl label a:hover{
    text-decoration: underline;
}
.MealInputPnl label a span{
    text-transform: uppercase;
    font-size: .9em;
}
.MealInputPnl div{
    width: 40%;
    position: relative;
}
.MealInputPnl div input{
    border-bottom: 2px solid rgb(0, 153, 255);
    width: 88%;
    font-size: .8em;
    color: black;
    background-color: transparent;
}
.MealInputPnl div:not(div.list) button{
    border: 1px solid rgb(0, 153, 255);
    font-size: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(0, 153, 255);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 3px;
}.MealInputPnl div button:hover{
    background-color: rgb(4, 117, 192);
}

.MealInputPnl .list{
    font-size: .8em;
}
.MealInputPnl .list p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.MealInputPnl .list h4{
    margin: 100px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}
.MealInputPnl .list button{
    border-radius: 0;
    padding: 0;
    font-size: .8em;
    border-color: red;
    color: white;
    background-color: red;
    border-radius: 3px;
    padding: 10px 20px;
}.MealInputPnl .list button:hover{
    background-color: rgb(212, 0, 0);
    border-color: rgb(212, 0, 0);
}


@media screen and (max-width: 900px){
    .MealInputPnl label a{
        display: block;
    }
}
@media screen and (max-width: 700px){
    .MealInputPnl{
        gap: 20px;
        font-size: 20px;
        padding: 30px 0;
    }
    .MealInputPnl div{
        width: 70%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 400px){
    .MealInputPnl{
        gap: 10px;
        font-size: 15px;
        padding: 0;
    }
    .MealInputPnl div{
        width: 90%;
    }
}
