.orderPanelPanel{
    width: 100%;
    height: 1000px;
    border: 1px solid red;
}
.orderPanelPanel div{
    display: inline-block;
    width:50% ;
    height: 1000px;
    position: absolute;
}
.orderPanelPanel div button{
    width: 100px;
    height: 100px;
    
}