@import url('html://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
.Popup{
    font-family: 'Poppins' sans-serif;
    background-color: #edeef6;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Popup .modal .button{
    background-color: #47a386;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popup .modal .potwierdz{
    position: relative;
    top: 50px;
    left:400px
}
.Popup .modal input{
    width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
}
.modal_container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: fixed;
}

.modal_containers{
    background-color: #fff;
    border-radius: 5px;
    padding:30px 50px;
    width: 600px;
    max-width: 100%;
}
.modal h1{
    margin: 0;
}
.modal p{
    font-size: 14px;
    opacity: 0.7;
}

.show{
    pointer-events: auto;
    display: flex !important ;
    z-index: 12;
}


