body{
    margin: 0;
    padding: 0;
}
.OrderPanel .header {
    background-color:#292c2f ;
    color: #ffffff;
    height: 60px;
    position: relative;
}
.OrderPanel form,fieldset{
    border: 0;
    outline: 0;
}
.OrderPanel .header div{
    display: inline-block;
    position: relative;
}
.OrderPanel .header img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 6px;
}
.OrderPanel .header div:first-of-type{
    color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
    position: relative;
    top: -10px;
}
.OrderPanel .header div:first-of-type span{
    color:#5383d3;
}

.OrderPanel .header div:nth-child(2){
    width: 400px;
    position: absolute;
    right: 280px;
    top: 15px;
}
.OrderPanel .header div:nth-child(2) input{
    position: absolute;
    top: -7px;
    width: 400px;
    border: 0;
    outline: 0;
    height: 40px;
    border-radius: 24px;
    text-align: center;
}
.OrderPanel .header div:last-of-type{
    position: relative;
    left:50%;
    top: -7px;
}
.OrderPanel .header div:last-of-type i{
    font-size: 36px;
}
.OrderPanel .header div:last-of-type i:hover{
    color: #5383d3;
}
.OrderPanel input ::placeholder{
    text-align: center;
    font-size: 25px;
}
.OrderPanel button{
    width: 400px;
    height:250px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 20px 0;
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 40px;
    transition: .3s;
    min-width: 260px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin: 25px;
}
.OrderPanel button:hover{
  transform: scale(1.02);
}
.OrderPanel button div{
    width: 430px;
    height:200px;
    background-image: url(pizza.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    top: -25px;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    padding: 0 8px;
    text-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif;
}
.OrderPanel fieldset{
    text-align: center;
}
/* animation studio panel */
.OrderPanel .submit .sign-up-mode p{
  transform: translateY(-200px);
  background-color: antiquewhite;
}

.OrderPanel button.sign-up-mode div{
    font-size: 18px;

}
@media (max-width:610px) {
  .OrderPanel button{
    width: 90%;
    height: 50vw;
  }
  .OrderPanel button div{
    width: 100%;
    height: 80%;
    background-color: #5383d3;
  }
}


































/* .wrapper {
    margin: 8px 0;
  }
  
  .state {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1e-5;
    pointer-events: none;
  }
  
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }
  
  .text {
    margin-left: 16px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
  }
  
  .indicator {
    position: relative;
    border-radius: 5%;
    height: 400px;
    width: 490px;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
    overflow: hidden;
  }
  
  .indicator::before,
  .indicator::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    background-image: url(pizza.jpg);
    width: 90%;
    border-radius: 50%;
  }
  .indicator::after {
    background-color: #ecf0f3;
    box-shadow:
      -4px -2px 4px 0px #fff,
      4px 2px 8px 0px #d1d9e6;
    transform: scale3d(1, 1, 1);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  }
  
  .state:checked ~ .label .indicator::after {
    transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
  }
  
  .state:focus ~ .label .text {
    transform: translate3d(8px, 0, 0);
    opacity: 1;
  }
  
  .label:hover .text {
    opacity: 1;
  } */