@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(141, 133, 127);
}
::-webkit-scrollbar-thumb{
    background-color: #4099ff;
}