@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
<<<<<<< HEAD
    background-color: lightgray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(179, 179, 179);
}
=======
    background-color: #4099ff;
}

input[type=text], input[type=email]{
    outline: none;
    border: none;
    background-color: white;
    color: #57687c;
    padding: 5px 20px;
}
button{
    outline: none;
    border: none;
    background-color: white;
    color: #57687c;
    padding: 5px 20px;
}button:hover{
    background-color: rgb(235, 235, 235);
}button:active{
    background-color: #57687c;
    color: white;
}
>>>>>>> fc284c9fb0c09c4dab9b83a88d67a63fed92dd79
