@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(141, 133, 127);
}
::-webkit-scrollbar-thumb{
    background-color: #4099ff;
}

input[type=text], input[type=email]{
    outline: none;
    border: none;
    background-color: white;
    color: #57687c;
    padding: 5px 20px;
}
button{
    outline: none;
    border: none;
    background-color: white;
    color: #57687c;
    padding: 5px 20px;
}button:hover{
    background-color: rgb(235, 235, 235);
}button:active{
    background-color: #57687c;
    color: white;
}