:root{
    --zero : 0;
    --center : center;
    --a300 : 300;
    --backB: aliceblue;
    --gray: rgb(64, 68, 73);
    --shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
    --a48 : 48px;
    --hrB: lightblue;
    --flex : flex;
    --column : column;
	--white : #ffffff;
	--bold : bold;
	--a14 : 14px;
	--normal : normal;
	--a20 : 20px;
    --relative : relative;
    --block : block;
    --none : none;
    --a100procent : 100%;
}